* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

header {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

header>* {
    flex: 1 100%;
    background: rgb(27, 27, 27);
    height: 200px;
}

header>nav>ul {
    display: flex;
}

header>nav>ul>li {
    padding: 20px;
}

#logo {
    height: 90px;
    width: 90px;
}

.padre1,
.padre2 {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.padre1>*,
.padre2>* {
    flex: 1 100%;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

footer {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

footer>* {
    padding: 0px 0 0px 0;
    flex: 1 100%;
    background: rgb(27, 27, 27);
    height: 400px;
}

.aside1 {
    text-align: right;
}

.aside4 {
    text-align: left;
}

@media all and(min-width: 800px) {

    .aside1 {
        order: 1;
    }

    .aside2 {
        order: 2;
    }

    .aside3 {
        order: 3;
    }

    .aside4 {
        order: 4;
    }

    .main {
        order: 2;
    }

    .footer {
        order: 4;
    }
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1;
    }
}

img {
    width: 100%;
    border-radius: 10px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
}

.formulario{
    justify-content: center;
    align-items: center;
}

.flex-outer{
    justify-content: center;
    width: 50%;
    align-items: center;
}

.flex-outer li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer>li>label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer>li>label+*{
    flex: 1 0 220px;
}

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}
